body {
display: flex;
align-items: center;
justify-content: center;
height:100vh;
background-color: #FDA4BA;
}

@media(max-width:414px){
.container{
padding:10px;			
}
}

.bilhete {
position: relative;
width: 350px;
height:450px;
cursor: pointer;
transform-style: preserve-3d;
transform: perspective(2500px);
transition: 10s;
}

.bilhete:hover {
transform: perspective(2500px) rotate(5deg);
box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
}

.bilhete:hover .frente {
transform: rotateY(-160deg); 
}

.bilhete:hover .texto-frente {
display: none;
}

.bilhete:hover .wrap-deco {
display: none;
}

.bilhete:hover .wrap-decoTwo {
display: none;
}

.bilhete:hover .prato {
display: none;
}

.frente {
    position: relative;
    background-color: #fff;
    width: 350px;
    height: 450px;
    overflow: hidden;
    transform-origin: left;
    z-index: 5; /* Menor que .dentro */
}

.feliz, .amor {
  position: relative;
  font-family: didot;
  text-align: center;
  backface-visibility: hidden;
  font-size: 30px; 
}

.feliz {
  top:233px;
}

.amor {
  top:173px;
}

.niver {
  position: relative;
  font-family: didot;
  font-size: 35px;
  text-align: center;
  top:200px;
}

.wrap-deco,
.wrap-decoTwo {
    position: absolute;
    top: -188px; /* Ajuste conforme necessário */
    left: -200px; /* Ajuste conforme necessário */
}

.tulipa {
    width: 30px; /* Largura da tulipa */
    height: 50px; /* Altura da tulipa */
    background-color: #e91e63; /* Cor da tulipa */
    position: relative;
    border-radius: 10px 10px 0 0; /* Bordas arredondadas na parte superior */
    margin: 10px; /* Espaço entre as tulipas */
}

.tulipa::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Ajusta a posição do caule */
    left: 50%;
    width: 5px; /* Largura do caule */
    height: 20px; /* Altura do caule */
    background-color: #3c763d; /* Cor do caule */
    transform: translateX(-50%); /* Centraliza o caule em relação à tulipa */
}


.prato {
  position: absolute;
  width: 130px;
  height: 5px;
  background-color: #873260;
  left:110px;
  top:223px;
}

.bolo {
  position: absolute;
  overflow: hidden;
  width:100px;
  height: 50px;
  background-color: #fad1bb;
  border-radius: 10px 10px 0 0;
  top:-50px;
  left:15px;
  box-shadow: inset 0 -15px #EF919F, inset 0 15px #432818;
}

.bolo:before {
  content:"";
  position: absolute;
  background-color: #432818;
  width:10px;
  height:20px;
  top:5px;
  border-radius:20px;
  box-shadow: 10px 5px #fad1bb, 20px 0px #432818, 30px 2px #fad1bb, 40px 5px #432818, 50px 5px #fad1bb, 60px 0px #432818, 70px 5px #fad1bb, 80px 5px #432818, 90px 5px #fad1bb;
}

.prato:before {
  content:"";
  position: absolute;
  background: repeating-linear-gradient(-45deg, #9b5de5, #9b5de5 3px, #00f5d4 3px, #00f5d4 6px);
  width:7px;
  height: 25px;
  top:-75px;
  left:61px;
}

.prato:after {
  content:"";
  position: absolute;
  width:1px;
  height: 5px;
  background-color: #333;
  top:-80px;
  left:64px;
}


.fogo {
  position: absolute;
  background-color: #fb5607;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  width:15px;
  height:15px;
  opacity:0.7;
  top:-93px;
  left:57px;
}

.dentro {
    position: absolute;
    background-color: #fff;
    width: 350px;
    height: 450px;
    z-index: 10; /* Maior que .frente */
    left: 0;
    top: 0;
    display: none; /* Inicialmente escondido */
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.texto-dentro {
  position: relative;
  top:-160px;
  transform: scale(0.7);
}

.desejos {
  position: relative;
  top:-100px;
  margin: 25px;
}

p {
  font-family: 'Brush Script MT', cursive;
  color: #333;
}

.nome {
  margin-left:160px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 220px; /* Ajuste conforme necessário */
    margin: 0 auto;
}

#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    display: none; /* Exibe apenas em dispositivos Safari Mobile */
    z-index: 1; /* Garante que fique acima do iframe */
}

#playButton:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.baloes-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Evita que interfiram com cliques */
    overflow: hidden;
    z-index: 10; /* Fica acima do conteúdo do bilhete */
}

.balao {
    position: absolute;
    bottom: 0; /* Posição inicial para subir */
    width: 40px;
    height: 60px;
    background-color: #CC2B52; /* Cor do balão */
    border-radius: 50% 50% 45% 45%; /* Forma oval */
    box-shadow: inset -5px -10px rgba(0, 0, 0, 0.1);
    pointer-events: auto; /* Para permitir interação, se necessário */
}


