body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FDA4BA;
  margin: 0;
}

@media (max-width: 414px) {
  .container {
    padding: 10px;
  }
}

.bilhete {
  position: relative;
  width: 350px;
  height: 450px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: transform 1s, box-shadow 0.5s;
}

.bilhete.rotacionado {
  transform: perspective(2500px) rotateY(-160deg); /* Aplica rotação ao adicionar a classe */
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 0 10px 100px rgba(0, 0, 0, 0.3);
}

.frente, .dentro {
  position: absolute;
  width: 350px;
  height: 450px;
  backface-visibility: hidden;
  transition: 0.4s;
}

.frente {
  background-color: #fff;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .13), 30px 0 50px rgba(0, 0, 0, 0.1);
}

.dentro {
  background-color: #fff;
  transform: rotateY(180deg); /* Escondido inicialmente */
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.feliz, .amor {
  position: relative;
  font-family: didot;
  text-align: center;
  font-size: 30px;
}

.feliz {
  top: 233px;
}

.amor {
  top: 173px;
}

.niver {
  font-family: didot;
  font-size: 35px;
  text-align: center;
  top: 200px;
}

.texto-frente {
  font-family: 'Brush Script MT', cursive;
  color: #333;
}

.texto-dentro {
  font-family: 'Brush Script MT', cursive;
  color: #333;
  position: relative;
  top: -160px;
  transform: scale(0.7);
}

.nome {
  margin-left: 160px;
}

.wrap-deco, .wrap-decoTwo, .prato {
  display: block;
}

.bilhete.rotacionado .frente .wrap-deco, 
.bilhete.rotacionado .frente .wrap-decoTwo, 
.bilhete.rotacionado .frente .prato, 
.bilhete.rotacionado .frente .texto-frente {
  display: none; /* Esconde os elementos da frente após a rotação */
}

 
